# Ignore bin, build, lib, log and output dirs
bin
build
logs
output

# Emacs crap
\#*#
\#*
.\#*

# python
*.pyc

# cmake stuff
.idea
CMakeCache.txt
CMakeFiles/
cmake_install.cmake

# google test
googletest-*
